div.chat-with-input-container {
    display: flex;
    height: calc(100vh - 3rem);
    top: 0;
    flex-direction: column;

    & div:first-of-type() {
        flex: 1;
    }
}

.chat-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    & div:first-of-type {
        margin-top: auto;
    }
}

.message {
    max-width: 70%;
    padding: 0.1rem;
    border-radius: 15px;
    font-size: var(--primary-font-size);
    line-height: 1.5;
    margin: 0.5rem 1rem;

    & ol,
    ul {
        list-style-position: inside;
    }
}

.message.sent {
    background-color: #000;
    align-self: flex-end;
    text-align: right;
}

.message.received {
    background-color: #999;
    align-self: flex-start;
    text-align: left;
}

#user-message-wrapper {
    position: relative;
    display: grid;

    & textarea {
        padding: 10px 15px;
        margin: 1rem;
        background-color: rgb(var(--main-bg-color));
        border: 2px solid #444;
        border-radius: 5px;
        color: #eee;
        font-size: var(--primary-font-size);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;

        &::placeholder {
            color: #aaa;
            font-style: italic;
        }

        &:focus {
            outline: none;
            border-color: #03a9f4;
            box-shadow: 0 0 10px #03a9f4;
            background-color: #1e1e2e;
        }
    }

    & button.scroll-down {
        position: absolute;
        top: -50%;
        left: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background-color: rgb(var(--main-bg-color));
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid rgb(var(--main-color));
        transition: transform 0.5s ease-in-out;
        transform: translateX(-50%);

        &.scroll-down-hidden {
            transform: translateX(-50%) rotateX(90deg) rotateY(90deg);
        }

        & .arrow-down {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid rgb(var(--main-color));
        }
    }
}
