:root {
    --hover-transition-duration: 500ms;
    --alpha-level: 0.7;
}

nav {
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 10px 30px 10px #000;
    background: rgb(var(--main-bg-color), var(--alpha-level));
    backdrop-filter: blur(20px);
}

nav > button.langButton:hover {
    cursor: pointer;
}

nav > button.langButton span {
    opacity: 0;
}

nav > button.langButton {
    color: transparent;
    align-self: center;
    width: 3rem;
    height: 3rem;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0 1ch;
    border-radius: 50%;
    background-size: cover;
    margin-left: 0;
}

nav > button.langButton:first-of-type {
    margin-left: auto;
}

nav > a {
    opacity: 1;
}

nav > a {
    padding: 1rem;
    text-decoration: none;
    color: rgb(var(--main-color));
    -webkit-transition: background-color var(--hover-transition-duration) linear;
    -moz-transition: background-color var(--hover-transition-duration) linear;
    -o-transition: background-color var(--hover-transition-duration) linear;
    -ms-transition: background-color var(--hover-transition-duration) linear;
    transition: background-color var(--hover-transition-duration) linear;
}

nav > a:hover {
    background-color: rgb(var(--secondary-bg-color));
}

nav > a:hover,
nav > a:hover:visited {
    color: rgb(var(--secondary-color));
}

nav > a,
nav > a:visited {
    color: rgb(var(--main-color));
}
