#navbar-container {
    position: sticky;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        background: rgb(var(--main-bg-color), var(--alpha-level));
        backdrop-filter: blur(20px);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}
