/* Here are defined variables responsible for theming. */
:root {
    --main-bg-color: 40, 44, 52;
    --secondary-bg-color: 66, 75, 94;
    --main-color: 255, 255, 255;
    --secondary-color: 221, 221, 221;
    --anchor-color: 20, 174, 234;
    --anchor-visited-color: 197, 138, 249;
    --primary-font-size: calc(10px + 2vmin);
}

#navbar-container {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 10px 30px 10px #000;
}

#root {
    max-width: min(60ch, 100%);
    margin: 0 auto;
}

body {
    font-size: calc(10px + 2vmin);
    /* To make bottom shadow not visible to user */
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(var(--main-bg-color));
    color: rgb(var(--main-color));
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media (prefers-reduced-motion: no-preference) {
    .Spin-image {
        animation: image-spin infinite 20s linear;
    }
}

a {
    color: rgb(var(--anchor-color));
}

p {
    margin: 1rem 1rem;
}

a:visited {
    color: rgb(var(--anchor-visited-color));
}
