h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2rem 1rem;
}

.expander {
    margin: 2rem 1rem 0 1rem;
}

.table-of-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: stretch;

    & li {
        margin-bottom: 1ch;
    }
}

.logo-container {
    overflow: hidden;
    float: right;
    border-radius: 50%;
    box-shadow: inset 5px 5px 20px 5px #000;
    place-items: center;
    align-self: center;
    display: grid;
    padding: 20%;
}

@media (prefers-reduced-motion: no-preference) {
    .spin-image {
        animation: image-spin infinite 20s linear;
    }
}

@keyframes image-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

p:last-child {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

.pwa-installation {
    margin-inline: 1rem;
}

.pwa-browser-support-note {
    margin: 0;
    margin-inline-start: 1ch;
    font-weight: normal;
}

strong[data-pwa-installed] {
    color: lightgreen;
}

.expander > button,
.pwa-install-button {
    padding: 0;
    font-size: inherit;
    background: none !important;
    border: none;
    /*input has OS specific font-family*/
    color: rgb(20, 174, 234);
    text-decoration: underline;
    cursor: pointer;
}
